<div class="hero" [ngStyle]="backgroundStyle$ | async">
    <div class="info" *ngIf="featuredVideo$ | async as featuredVideo">
        <div class="title">
            {{ featuredVideo.snippet?.title }}
        </div>
        <div class="description">{{ featuredVideo.snippet?.description }}</div>
        <div class="play-now">
            <button [routerLink]="['/watch', featuredVideo.contentDetails?.videoId]">
                <fa-icon [icon]="playIcon" size="lg"></fa-icon>
                Ver Ahora
            </button>
        </div>
    </div>
</div>