@import "src/mixins.scss";

.hero {
    height: 80vh;
    margin-bottom: 2rem;
    overflow: hidden;

    background-size: cover;
    background-position: center center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    height: 100%;
    padding: 2rem 5rem;

    color: white;
    font-weight: bold;

    .title {
        font-size: 4rem;
        text-transform: uppercase;
        @include line-clamp(2);
    }

    .description {
        line-height: 1.5rem;
        font-size: 1.2rem;
        @include line-clamp(4);
    }

    .description,
    .title {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

.play-now {
    width: 100%;

    button {
        border: none;
        cursor: pointer;
        padding: 0.75rem;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;

        fa-icon {
            padding-right: 5px;
        }
    }
}
