<div class="search">
    <div class="header">
        <div class="title">
            <h1>Resultados</h1>
        </div>
        <div class="filters">
            <select name="order-by" id="order-by">
                <option hidden selected>Ordenar por</option>
            </select>
            <select name="date" id="date">
                <option hidden selected>Fecha</option>
            </select>
            <select name="duration" id="duration">
                <option hidden selected>Duración</option>
            </select>
        </div>
    </div>

    <div class="result-grid">
        <app-media-card *ngFor="let r of results$ | async" [id]="r.contentDetails.videoId" [title]="r.snippet.title"
            [category]="r.snippet.categoryId | youtubeCategory" [date]="r.snippet.publishedAt"
            [thumbnails]="r.snippet.thumbnails" [description]="r.snippet.description"></app-media-card>
    </div>
</div>