<div class="search">
    <div class="header">
        <div class="title">
            <h1>{{ title$ | async }}</h1>
        </div>
        <div class="filters">
            <select name="order-by" id="order-by">
                <option hidden selected>Ordenar por</option>
            </select>
            <select name="date" id="date">
                <option hidden selected>Fecha</option>
            </select>
            <select name="duration" id="duration">
                <option hidden selected>Duración</option>
            </select>
        </div>
    </div>

    <div class="result-grid">
        <app-video-card *ngFor="let video of results$ | async" [video]="video"></app-video-card>
    </div>
</div>