<div class="search">
    <div class="header">
        <div class="title">
            <h1>{{ title$ | async }}</h1>
        </div>

        <form class="controls" [formGroup]="controlsForm">
            <select name="sort-by" id="sort-by" formControlName="sortBy">
                <option value="publishedAt">Más Recientes</option>
                <option value="title">Por Título</option>
            </select>

            <select name="filterDate" id="filterDate" formControlName="filterDate">
                <option value="any">Cualquier fecha</option>
                <option value="day">Hoy</option>
                <option value="week">Este semana</option>
                <option value="month">Este mes</option>
                <option value="year">Este año</option>
            </select>

        </form>
    </div>

    <div class="result-grid">
        <app-video-card *ngFor="let video of results$ | async" [video]="video"></app-video-card>
    </div>
</div>