<header>
    <div class="left-container">
        <div class="logo-container">
            <a href="#"><img class="logo" src="assets/branding/logo.png" alt="UNSL TV" srcset=""> </a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Institucional</a></li>
            </ul>
        </nav>
    </div>

    <div class="right-container">
        <div class="search">
            <input type="text" name="search" id="search-input">
            <button type="submit" class="search-button">
                <fa-icon [icon]="searchIcon"></fa-icon>
            </button>

        </div>
    </div>
</header>