<div class="about-us">
    <div class="section unsltv">
        <div class="unsltv-logo">
            <img src="assets/branding/unsltv.jpg" alt="UNSL TV" height="300px" width="auto">
        </div>
        <div class="text">
            <h1 class="title">Nosotrxs</h1>
            <p>
                UNSL TV es la plataforma de contenidos audiovisuales de la Universidad Nacional de San Luis. Depende de
                la
                Secretaría de Comunicación Institucional de la UNSL.
            </p>
            <p>
                En este espacio encontrarás contenidos a demanda y podrás seguir las transmisiones especiales en vivo.
                Producimos series y ciclos de calidad narrativa y estética, que nos posibilitan comunicar lo que
                acontece en
                la
                Universidad desde una óptica diferente. Realizamos documentales científicos, series educativas,
                culturales,
                entrevistas a personalidades académicas pero también de la música y del arte.
            </p>
            <p>
                Hacemos series que relatan historias de pobladores locales, de habitantes de nuestra tierra y
                compartimos
                materiales de otras señales universitarias y canales educativos de Argentina y América Latina. Somos
                parte
                de la Red Nacional Audiovisual Universitaria del Consejo Interuniversitario Nacional de la que
                participan
                más de 50 Universidades Nacionales de todo el territorio.
            </p>
            <p>
                Te invitamos a vernos aquí y en nuestras redes sociales donde también encontrarás materiales
                diferenciados,
                producidos especialmente para estos soportes. Nos entramos en tu compu, en tu tablet, en tu celu, para
                que
                nos veas cuando y como quieras.
            </p>
            <h2 class="title">Nuestro Logo</h2>
            <p>
                Nos gustaría contarte por qué elegimos un venado como parte de nuestra identificación. Nacimos como
                señal
                universitaria en el marco de la Ley de Servicios de Comunicación Audiovisual. Desde que comenzamos a
                proyectar nuestro canal pensamos en buscar una imagen que nos identificara como sanluiseñxs. El venado
                de
                las pampas, presente en nuestro escudo provincial fue sin dudas una inspiración. Nos representa no solo
                como
                puntanxs sino que es también un símbolo de lucha y resistencia, de resguardo de la naturaleza y respeto
                por
                nuestro entorno.
            </p>
            <p>
                Como señal universitaria tenemos la responsabilidad y tarea de generar contenidos "otros", contribuir a
                una
                comunicación más amplia y democrática.
            </p>
        </div>
    </div>
    <div class="section unsl">
        <div class="text">
            <h1 class="title">Universidad Nacional de San Luis</h1>
            <p>
                Fundada por la ley 20.365 del 10 de mayo de 1973 como parte del plan Taquini, el programa de
                reorganización
                de
                la educación superior, forma hoy a unos 16.000 alumnos en más de 45 carreras, además de varios programas
                de
                postgrado.
            </p>
            <p>
                De ella depende además el Museo de Historia Natural de San Luis y cuenta con una emisora radial LRJ 407
                Radio
                Universidad (FM 97.9 MHz) que transmite por Internet.
            </p>
        </div>
        <div class="unsl-logo">
            <img src="assets/branding/unsl.png" alt="UNSL" height="200px" width="auto">
        </div>
    </div>
</div>