@import "~swiper/css";
@import "~swiper/css/navigation";
@import "src/mixins.scss";

.content-slider-container {
    .title {
        text-transform: capitalize;
        color: #fff;
        padding: 0 0 2rem 2rem;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
    margin-bottom: 4rem;
}

.slide-container {
    height: 175px;
    overflow: hidden;
    background-position: center;
    background-size: cover;

    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.slide-content {
    height: 100%;
    color: white;
    padding: 1rem;

    opacity: 0;
    transition: all 250ms;

    &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.75);
    }

    h3 {
        margin-bottom: 0.5rem;

        @include line-clamp(2);
    }

    p {
        font-size: 14px;

        @include line-clamp(4);
    }
}

.swiper-slide {
    transition: transform 150ms;
    // TODO: Ajustar con media-query
    // TODO: 27% para 720p, 17% para 1080p
    width: 17.5%;
}

.swiper:focus-within .swiper-slide,
.swiper:hover .swiper-slide {
    transform: translateX(-10%);
}

.swiper-slide:focus ~ .swiper-slide,
.swiper-slide:hover ~ .swiper-slide {
    transform: translateX(10%);
}

.swiper .swiper-slide:focus,
.swiper .swiper-slide:hover {
    transform: scale(1.2);
    z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
    height: 100%;
    width: 4%;
    top: 0;
    bottom: 0;
    margin: 0;

    &::after {
        transition: color 150ms;
        color: #cecece;
        font-size: 2rem;
        font-weight: bold;
    }

    &:hover {
        &::after {
            color: #fff;
        }
    }
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}
