<div class="content-slider-container">
    <h1 class="title">{{ contentName }}</h1>

    <!-- TODO: Cantidad de slides deberia depender del tamaño de la pantalla -->
    <!-- TODO: 3.7 slides para 720p, 5.7 slides para 1080p -->
    <swiper [navigation]="true" [slidesPerView]="5.7" [spaceBetween]="20" [loop]="true" class="swiper" [centeredSlides]="true" [initialSlide]="3">

        <ng-template swiperSlide *ngFor="let content of mediaContent">
            <a href="#">
                <div class="slide-container">
                    <img [src]="content.thumbnail">
                    <div class="slide-content">
                        <h3 class="slide-title">{{ content.title }}</h3>
                        <p class="slide-description">{{ content.description }}</p>
                    </div>
                </div>
            </a>
        </ng-template>

    </swiper>
</div>