<div class="footer">
    <div class="social-networks">
        <a *ngFor="let net of socialNetworks" [href]="net.url">
            <fa-icon [icon]="net.icon" size="lg"></fa-icon>
        </a>
    </div>
    <div class="institutional">
        <h3>Información Institucional</h3>
        <ul>
            <li><b>Teléfono:</b> +54 (0266) 4520300</li>
            <li><b>Dirección:</b> Ejército de Los Andes 950, San Luis, Argentina</li>
        </ul>
    </div>
    <div class="contact">
        <h3>Contacto</h3>
        <ul>
            <li><b>Teléfono:</b> +54 (0266) 4520300 - Interno: 6167</li>
            <li><b>Dirección:</b> Chacabuco y Pedernera, 1er Piso Ala Sur, San Luis, Argentina</li>
        </ul>
    </div>
</div>