<div class="watch">
    <h1>Avatar Frontiers of Pandora</h1>

    <div class="player-container">
        <div class="yt-player">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/X40Tr3Q-BvE"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="details">
            <div class="metadata">
                <span class="date-category">
                    {{ (content | async).date }} &mdash; {{ (content | async).category }}
                </span>
                <span class="viewcount">
                    {{ (content | async).views }} visualizaciones
                </span>
            </div>
            <div class="description">
                <p>{{ (content | async).description }}</p>
            </div>
            <span class="view-more">
                <a href="#">Ver Mas</a>
            </span>
        </div>
    </div>

    <h2>Tal vez te interese...</h2>

    <div class="cards">
        <app-media-card *ngFor="let related of relatedContent | async" [id]="related.id" [title]="related.title"
            [category]="related.category" [date]="related.date" [thumbnail]="related.thumbnail"
            [description]="related.description"></app-media-card>
    </div>
</div>