<div class="watch" *ngIf="video$ | async as video">
    <h1>{{ video.snippet?.title }}</h1>

    <div class="player-container">
        <div class="yt-player">
            <iframe width="1280" height="720" [src]="videoURL$ | async" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="details">
            <div class="metadata">
                <span class="date-category">
                    {{ video.snippet?.publishedAt | date }} &mdash; {{ video.snippet?.categoryId |
                    youtubeCategory }}
                </span>
                <span class="viewcount">
                    {{ video.statistics?.viewCount }} visualizaciones
                </span>
            </div>
            <div class="description" [class.description-clamp]="clampedDescription$ | async">
                <p>{{ video.snippet?.description }}</p>
            </div>
            <span class="view-more">
                <a (click)="toggleButtonEvent$.next($event)">
                    {{ (clampedDescription$ | async) ? "Ver Mas" : "Ver Menos" }}
                </a>
            </span>
        </div>
    </div>

    <h2>Tal vez te interese...</h2>

    <div class="cards">
        <app-video-card *ngFor="let video of related$ | async" [video]="video">
        </app-video-card>
    </div>
</div>