@import "src/mixins.scss";

.watch {
    margin-top: 80px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    color: white;
}

h1 {
    width: fit-content;
    padding: 1rem 2rem;
    display: inline-block;
    background-color: #74c7cd;
    clip-path: polygon(0 0, 100% 10%, 95% 85%, 5% 100%);
}

.player-container {
    width: 1280px;
    align-self: center;
    background-color: black;

    .details {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .metadata {
            opacity: 0.5;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .description {
            p {
                line-height: 1.3rem;

                @include line-clamp(4);
            }
        }

        .view-more a {
            color: inherit;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
            outline: inherit;
            opacity: 0.5;
        }
    }
}

h2 {
    color: #bb2652;
    font-weight: bold;
}

.cards {
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 2rem;
}
